USE [master]
GO
/****** Object:  Database [QUANLYDANHMUC]    Script Date: 04/10/2024 10:47:35 ******/
CREATE DATABASE [QUANLYDANHMUC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLYDANHMUC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QUANLYDANHMUC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QUANLYDANHMUC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QUANLYDANHMUC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLYDANHMUC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLYDANHMUC]
GO
/****** Object:  Table [dbo].[DANHMUC]    Script Date: 04/10/2024 10:47:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHMUC](
	[MADM] [int] IDENTITY(1,1) NOT NULL,
	[GHICHU] [nvarchar](255) NULL,
	[NGUOIQUANLY] [nvarchar](255) NULL,
	[TENDANHMUC] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MADM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TINTUC]    Script Date: 04/10/2024 10:47:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINTUC](
	[MATT] [int] IDENTITY(1,1) NOT NULL,
	[LIENKET] [nvarchar](255) NULL,
	[MADM] [int] NULL,
	[NOIDUNGTT] [nvarchar](255) NULL,
	[TIEUDE] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DANHMUC] ON 

INSERT [dbo].[DANHMUC] ([MADM], [GHICHU], [NGUOIQUANLY], [TENDANHMUC]) VALUES (1, N'Ghi chú 1', N'Người quản lý 1', N'Thể thao')
INSERT [dbo].[DANHMUC] ([MADM], [GHICHU], [NGUOIQUANLY], [TENDANHMUC]) VALUES (2, N'Ghi chú 2', N'Người quản lý 2', N'An ninh – Quốc phòng')
INSERT [dbo].[DANHMUC] ([MADM], [GHICHU], [NGUOIQUANLY], [TENDANHMUC]) VALUES (3, N'Ghi chú 3', N'Người quản lý 3', N'Pháp luật – Tư pháp')
SET IDENTITY_INSERT [dbo].[DANHMUC] OFF
GO
SET IDENTITY_INSERT [dbo].[TINTUC] ON 

INSERT [dbo].[TINTUC] ([MATT], [LIENKET], [MADM], [NOIDUNGTT], [TIEUDE]) VALUES (1, N'Liên kết 1', 2, N'Sáng sớm 3/10, Isael tiếp tục tấn công các mục tiêu ở thủ đô Beirut của Liban (Lebanon), trong khi phong trào Hezbollah cảnh báo “đây mới chỉ là hiệp đầu tiên”.
', N'Israel tiếp tục không kích Beirut, Hezbollah cảnh báo cứng rắn')
INSERT [dbo].[TINTUC] ([MATT], [LIENKET], [MADM], [NOIDUNGTT], [TIEUDE]) VALUES (2, N'Liên kết 2', 3, N'Hai cựu quan chức cấp cao của cơ quan an ninh Mỹ chỉ trích cựu Tổng thống Donald Trump vì đã “đánh đổi” quốc gia để giành lợi ích cá nhân.
', N'Hai cựu quan chức cấp cao của cơ quan an ninh Mỹ chỉ trích Trump')
INSERT [dbo].[TINTUC] ([MATT], [LIENKET], [MADM], [NOIDUNGTT], [TIEUDE]) VALUES (3, N'Liên kết 3', 1, N'Hơn 1.000 người biểu tình chống vaccine ở Moscow, Nga, sau khi Tổng thống Vladimir Putin ký sắc lệnh bắt buộc vaccine cho mọi người.
', N'Miễn phí vé Vòng loại Bảng I - Giải Bóng đá U17 Vô địch châu Á 2025
')
SET IDENTITY_INSERT [dbo].[TINTUC] OFF
GO
USE [master]
GO
